// colors
$colorPrimary:  #ad1359;
$colorSecondary: #E6EAED;
$colorTertiary: #869099;
$colorTextPrimary: #3E3F42;
$colorTextSecondary: #9EA5AD;
$colorTextTertiary: #BCBCBC;
$colorStroke: #D8DCE6;
$colorBackground: #f1f5f8;