@import "../../Styles/colors.scss";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  background-color: $colorBackground;

  &__block {
    padding: 7vh 0 7vh 0 ;
    min-width: 30vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 2px #88888810;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    margin-bottom: 4vh;
  }

  p {
    margin: 2vh;
  }

}